body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ---------------------- NAVIGATION---------------------- */

.nav-wrapper {
    width: 100%;
    height: 70px;
    background: #011627;
    color: #EFFFE9;
    line-height: 70px;
    text-transform: uppercase;
}

.recolor {
    color: #2EC4B6;
}

.nav {
    height: inherit;
}

.nav-logo {
    float: left;
}

.nav-menu {
    float: right;
}

.nav-menu ul li {
    float: left;
}

.nav-menu ul li a {  
    color: #2EC4B6;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #2EC4B6;
    padding: 8px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-menu ul li a:hover {
    color: #011627;
    background: #2EC4B6;
}
/* ---------------------- END OF NAVIGATION ---------------------- */

/* ---------------------- HEADER ---------------------- */

.home-header--wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
    margin: 0 auto;
    padding: 140px 0;
}

.home-header h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #011627;
}

.home-header button {  
    color: #2EC4B6;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #011627;
    background: #011627;
    padding: 8px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
}

.home-header button:hover {
    color: #011627;
    background: transparent;
}



/* ---------------------- END OF HEADER ---------------------- */

/* ---------------------- FEATURES ---------------------- */

.home-features--wrapper {
    width: 100%;
    height: 100%;
    background: #F4F4F4;    
}

.home-features {
    height: 100%;
    padding: 50px 0;
}

.home-features--watchlist, 
.home-features--seenlist,
.home-features--favorites,
.home-features--ratings {
    width: 200px;
    display: inline-block;
    margin: 0 auto;
    margin: 10px;
    color: #011627;
}

.fa {
    color: #011627;
}

/* ---------------------- END OF FEATURES ---------------------- */

/* ---------------------- TRENDING ---------------------- */

.home-trending--wrapper {
    width: 100%;
    height: 100%;
    background: #2EC4B6;
}

.home-trending {
    height: 100%;
    padding: 50px 0;
}

.movie-one, 
.movie-two, 
.movie-three, 
.movie-four {
    width: 180px;
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie-name {
    margin-bottom: 15px;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 14px;
}

.home-trending h3 {
    font-size: 25px;
    margin-bottom: 50px;
    color: #011627;
    text-transform: uppercase;
}

.home-trending img {
    width: 180px;
    height: 250px;
    box-shadow: 1px 1px 10px 2px #011627;
}

.hovereffect {
    position: relative;
    width: 180px;
}

.movie-poster {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.movie-info {
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 180px;
    height: 250px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(1, 22, 39, 0.80);
    margin: 0 auto;
    cursor: pointer;
}

.hovereffect:hover .movie-info {
    opacity: 1;
}

.movie-icon-seenlist {
    color: greenyellow;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.movie-seenlist {
    color: greenyellow;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.movie-icon-rating {
    color: yellow;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.movie-rating {
    color: yellow;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* ---------------------- END OF TRENDING ---------------------- */

/* ---------------------- FOOTER ---------------------- */

.home-footer--wrapper {
    width: 100%;
    height: 100%;
    background: #011627;
}

.home-footer {
    width: 100%;
    height: 100px; /* temporary fixed height */
    margin: 0 auto;
    color: white;
    padding: 50px 0;
}

.home-footer a {
    color: #2EC4B6;
}

.fb {
    color: white;
    margin-right: 15px;
}

.git {
    color: white;
}

/* ---------------------- END OF FOOTER ---------------------- */

/* ---------------------- MEDIA QUERIES ---------------------- */

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .container {
        width: 1170px;
    }
}